$color-bg: #f6f8fa;
$color-sidebar: #ffffff;
$color-primary: #00B3FF;
$color-secondary: #E3F6FE;
$color-text: #15223C;
$color-muted: #AFAFAF;
$color-green: #2DD683;
$color-green-shade: #D8FFEC;
$color-red: #E74A51;
$color-red-shade: #F8D7DA;
$color-orange: #FA8B3A;
$color-orange-shade: #FFE8D4;
$color-yellow: #FED142;
$color-yellow-shade: #FFF6CC;